@import 'mixins';

.App {
  @include grid;
  .App-header {
    @include centered;
    grid-row: 1;
  }
  .Search-Container {
    @include centered;
    flex-direction: column;
    grid-row: 2;
    .search-input {
      font-size: 1.5em;
      width: 20em;
      padding: 0.5em;
    }
  }
}